[2019-04-08 09:35] cmarmo opened #1 "Info about how to enable ssh access in the wiki"
Hello,
first of all thanks to Unicamp for providing the OpenPower minicloud service... it saves me a lot of panic in looking around for power platforms!

This is just a suggestion about the wiki, more than a real issue.
I am more a reading person than a watching video one, and I couldn't find in the 'Getting Started' page any info about the fact that ssh access must be enabled after the creation o

[2019-04-20 22:59] Igortorrente commented on #1
Thanks for your report, we fixed this issue on getting started tutorial.

[2019-04-20 22:59] #1 closed

[2019-05-10 15:42] openpower-unicamp opened #2 "Sample Issue"

[2019-05-10 15:44] #2 closed

[2019-05-13 12:28] adalava opened #3 "virtio-drivers supported by FreeBSD"
Hi,

I'm currently using the experimental flavor "minicloud.HugePages-BSD" but the device "virtio-block" that is expose by minicloud isn't currently working with FreeBSD virtio drivers.
Would be possible to replace virtio-block by virtio-scsi? (or leave both so it can used to investigate the issue)

Thanks,
Alfredo

[2019-05-13 12:30] rpsene commented on #3
@Igortorrente could you please take a look on how to create a new flavor with that driver?

[2019-05-15 15:04] hugoziviani opened #4 "timeout"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2019-05-15 15:06] hugoziviani commented on #4
Hello guys, there is some modification I can make to get more time in SSH session? My connections are closing very quickly.

[2019-05-15 15:12] lcnzg commented on #4
Hello, can you try the steps described in this link? https://bjornjohansen.no/ssh-timeout

[2019-05-15 20:27] hugoziviani commented on #4
Thanks a lot!

[2019-05-15 21:31] Igortorrente commented on #3
@adalava You only need add hw_scsi_model=virtio-scsi and hw_disk_bus=scsi at image metadata. Project -> compute -> <your image> -> dropdown menu -> update metadata -> custom.

[2019-05-16 16:45] adalava opened #5 "Cannot delete a personal ISO"
I uploaded a ISO image called "FreeBSD 13 ELFV2 good" and marked it as "protected", by mistake.
Now I can't delete this image since "Delete" option doesn't appear for this image. I'm asking the sysadmin to delete it for me.

Thanks!

[2019-05-16 21:13] lcnzg commented on #5
I think you can edit your image details and set Protected to No. But I already deleted it, anyway.

[2019-05-16 21:13] #5 closed

[2019-05-16 21:13] #4 closed

[2019-05-17 21:20] adalava commented on #3
@Igortorrente , it works fine for me!
Just a note: it didn't work if I update the instance metadata, but I updated the image metadata and created a new instance and worked fine.

[2019-05-17 21:20] #3 closed

[2019-06-14 01:58] shawnl opened #6 "debian 9 image fails to resize rootfs on boot"
"partition 2 is xxxxxxx, it cannot be resized"

[2019-06-14 02:06] shawnl commented on #6
The problem is the swap partition. Removing the swap partition resolves the problem.

[2019-06-14 02:21] shawnl commented on #6
Also, I could really use more disk space.....

[2019-07-08 22:16] shawnl opened #7 "need a little additional quota for a Big-Endian VPS"
**Describe the bug**
I needed the MAX size VPS for building LLVM, but now I can't have a Big-Endian server for testing big-endian and 32-bit PPC.

**To Reproduce**
Steps to reproduce the behavior:
1. add a maximum sized vps
2. can't add more

I can't actually see the instances size, but the smallest big-endian instance would be fine. I don't even need the 10GB ram that the max instance has.

But I

[2019-07-08 22:18] #6 closed

[2019-07-08 22:30] lcnzg commented on #7
More quota added. Can you verify if it worked?

[2019-07-08 22:37] shawnl commented on #7
worked thank you

[2019-07-08 22:37] #7 closed

[2019-08-12 19:48] shawnl opened #8 "Can't access instance"
**Describe the bug**
My main instance "big-daddy", debian ppc64le with ip 10.8.40.133, seems to be stuck in a reboot loop. I can't stop it, and it never starts. It was acting flaky and disconnecting ssh until i tried to reboot it. (I was also briefly out of disk space on it, if that makes any difference)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll

[2019-08-12 20:06] shawnl commented on #8
OK, I'm still having serious reliability problems. Can you try to look into the issues?

[2019-08-12 20:08] lcnzg commented on #8
I confirm there is a problem with our Power9 load. I am working on this.

[2019-08-12 20:37] shawnl commented on #8
seems to be resolved.

[2019-08-13 13:30] shawnl opened #9 "Can I get more disk space?"
**Describe the bug**
80GB really isn't much disk space.

Like LLVM needs ~20, and Linux kernel too ~20

Like 250GB would be nice.

[2019-08-13 13:49] lcnzg commented on #9
New flavor created. You can save a snapshot of your VM, delete the instance and instantiate the snapshot with the new flavor to increase the size of your VM.

[2019-08-13 13:49] #9 closed

[2019-08-13 16:16] shawnl commented on #8
I am wondering if maybe the stability problems were low disk space.

[2019-08-13 17:48] lcnzg commented on #8
Can you test again?

[2019-08-13 18:18] shawnl commented on #8
The current kernel I have set to boot (Debian's 5.2 in sid) doesn't boot, and the console window just spins until its too late (and the VNC key changes each reboot).

[2019-08-13 19:49] #8 closed

[2019-08-13 20:40] shawnl opened #10 "Please upgrade kernel so we can do nested KVM virtualization"
nested KVM virtualization for PPC KVM-HW is in Linux v4.20. My current problems wouldn't be so bad if I just left my system up in running, because I could run nested virtual machines.

Also, it is possible this is the reason that kernel's later than Debian's 4.19 are crashing. (if so, that bug should reported)

https://www.youtube.com/watch?v=esMBo1G8iYY
https://kvmforum2018.sched.com/event/FzuT/t

[2019-08-14 13:57] shawnl opened #11 "Please upgrade kernel so we can do nested KVM virtualization"
nested KVM virtualization for PPC KVM-HW is in Linux v4.20. My current problems wouldn't be so bad if I just left my system up in running, because I could run nested virtual machines.

Also, it is possible this is the reason that kernel's later than Debian's 4.19 are crashing. (if so, that bug should reported)

https://www.youtube.com/watch?v=esMBo1G8iYY
https://kvmforum2018.sched.com/event/FzuT/t

[2019-08-14 13:57] #10 closed

[2019-08-14 13:58] shawnl commented on #11
Also, my systems are refusing to reboot.

[2019-08-19 19:24] aschuh703 opened #12 "minicloud not responding to admin commands"
I have logged into the minicloud admin webpage. I had previously (5 days ago) created an instance then shut it down. Today, I tried to start it and the status remained at shut off. I then tried to delete the instance. Once again, the webpage says deleting and never stops.

I don't mind creating a new instance, but I am getting no where.

[2019-09-03 23:37] vmlemon opened #13 "Default username/password not set?"
After creating a new instance of big-endian Debian Jessie, attaching the VNC console, and waiting some time, I'm able to SSH into my instance, however I can't actually log in, as either "debian", or "root", or some obvious username, since I'm never provided with my account password, at creation time.

Is this documented somewhere, in a private communication, or derived from the SSH key, or do I ne

[2019-09-04 00:05] vmlemon commented on #13
Closing this issue, since I figured out that I had to create another RSA key, on my local machine, and then import it into the OpenStack UI, and associate it with my VM. Not massively intuitive, but at least I'm able to gain access, now. :)

[2019-09-04 00:05] #13 closed

[2019-09-04 09:33] steffen-AEI opened #14 "Overview of available resources?"
Not a bug, rather a wishlist item:

I seem to be unable to find out about available resources, so if I overshoot and create an instance bigger than what's currently available, I fail.
I'd like to adjust my request (in a responsible manner) to less than the amount of available resources. Some information would be required for that.

Did I just miss the overall-status page?

[2019-09-04 09:57] lcnzg commented on #14
I just created instances and had no problems.
Could you provide the size of the instance used, the availability zone chosen and the error?

[2019-09-04 14:53] AEI-SteffenG commented on #14
I was running a tiny instance (1 core, 16 GB /) but doing some complex compiles required more than 3 GB of virtual memory. Adding more swap didn't help.
I therefore attempted to launch another instance (medium, IIRC) but that one didn't start, and there was only a "Start failed" error message. (Any power8/9)
I'm now starting a large instance, based on the snapshot I took from the tiny one, and thi

[2019-09-04 15:40] inconstante commented on #12
I have the same problem, but I got stuck at a hard reboot.

[2019-09-04 17:46] inconstante commented on #12
I deleted the old instance and recreated it from a **new** image (Debian 10), and now the web interface (including access to the VNC console) is a lot more responsive.  I have no idea why.

[2019-09-04 17:56] lcnzg commented on #12
@gftg85 Sorry, I had to restart our unstable node. We have not yet discovered the cause of the problem.
If this problem continues, we will reinstall the node.

[2019-09-05 13:06] gftg85 opened #15 "Debian 10 image unable to grow disk image"
Launching from the Debian 10 image creates a VM with 20 GB disk, regardless of the flavor selection, whereas other images create VMs with larger disks.

Steps to reproduce:
1. Go to 'Instances'
2. Click on 'Launch instance'
3. Under the 'Source' tab select 'Debian 10 ppc64le'
4. Under the 'Flavor' tab select 'minicloud.max' (or other flavor with disk larger than 20 GB)
5. Quickly open the 'console

[2019-09-09 11:59] steffen-AEI opened #16 "Shrink snapshot for use with smaller instance?"
Not a bug, but a nuisance:
I had started a "tiny" instance to run my tests, but found that one particular task would require more than 3 GB of virtual memory, and even adding a swapfile did not help - 1 GB was too tiny for this one.
So I stopped the instance, took a snapshot, and fired up a new large instance based on that. The big task finished happily.
Now I'd like to go back to l*e*ss resource

[2019-09-11 22:06] shawnl commented on #12
Same problem. My VM does not boot in its default set-up, and if I can't interrupt the boot I run into this problem, and it makes it very hard to start my VM successfully.

[2019-09-12 10:06] AEI-SteffenG commented on #16
I found that the size of the snapshot is somewhat bigger than the root fs (is swap also snapped? the difference is quite close to 2 GB), but that should have no effect on the problem itself.
I've also developed the habit of deleting cached files (/var/cache/pbuilder/aptcache and friends), and fill up the empty disk space with zero bytes temporarily before shutting down the instance - this saves se

[2019-09-15 17:23] steve8x8 commented on #15
Currently (for at least three days now) there's no Debian 10 image available. Is this related?

[2019-09-15 17:27] steve8x8 commented on #14
It seems that unavailable resources are flagged in the "Flavor" step of instance creation ("above your quota"). Since the Details, Source and Flavor stages can be filled in in random order, it seems best to start with Flavor to find what's available and what isn't. Not optimal, but feasible. Thanks.

[2019-09-16 00:20] lcnzg commented on #15
Yes, I disabled this image until I finish fixing this issue.
I think I used a wrong partition order when creating this image, so now the partition can't grow.

[2019-09-16 00:26] lcnzg commented on #16
Unfortunately OpenStack does not support this operation.

[2019-09-16 00:26] #16 closed

[2019-09-16 00:31] lcnzg commented on #12
Sorry for all the problems. We had to reinstall the unstable node, so hopefully everything will go well now.
If any problem happen, let us know!

[2019-09-16 00:31] #12 closed

[2019-09-16 00:36] lcnzg commented on #11
We use kernel v4.15, and we can't upgrade it to a new version.

[2019-09-16 00:36] #11 closed

[2019-09-16 00:43] lcnzg commented on #14
If you go to Project -> Compute -> Overview, you can review the resources available to your account.

![image](https://user-images.githubusercontent.com/24390439/64929850-833eab00-d801-11e9-98ad-cb739f2254eb.png)

[2019-09-16 00:43] #14 closed

[2019-09-16 14:30] AEI-SteffenG commented on #15
So I'm in a limbo state that I still have a snapshot taken from an un-grown Buster image - that therefore would still fit into a tiny vm (as reported in #16) - which I can continue using, but there's no way to start a new tiny instance with Buster?

[2019-09-16 14:42] lcnzg commented on #15
I reactivated the Debian 10 image now, but the bug still there.

[2019-09-23 19:26] shawnl opened #17 "Do you have a backup of the instance that was deleted?"
It looks like my main instance was deleted, as well as the snapshot that I had from a while ago. Do you have a back-up of this? There is some important work on libnss that was on there that I do not have a back-up of.

[2019-09-23 19:27] shawnl commented on #17
Just found where the snapshots are, that should be enough.

[2019-09-23 20:48] rpsene commented on #15
@lcnzg this may give you some ideas about the issue https://ask.openstack.org/en/question/51024/cloud-init-does-not-grow-the-partition-nor-the-filesystem/

[2019-09-24 01:08] lcnzg commented on #17
Sorry, but we lost a few instances in the last maintenance and we had no backup for them

[2019-09-25 08:01] AEI-SteffenG commented on #15
Indeed:
[code]
the swap partition, directly at the end of the root fs partition, appears to prevent growing the 2nd partition. I haven't looked at the other images but suspect something went wrong especially for the Buster image - which may have been created using a different setup than the "older" other images?

So what would happen if I, on my own snapshot image, removed the swap partition compl

[2019-09-25 08:14] steffen-AEI opened #18 "SMT?"
Not a bug, just a question: is it possible to get SMT enabled so there can be two (or even more) threads per physical core?

[2019-11-04 01:13] Ronne2019 opened #19 "Como acessar a plataforma do miniclous"
Não tenho acesso.

[2019-11-05 23:32] stefanor opened #20 ""Debian 8 ppc64 - Power8" is not Debian "ppc64""
The public image "Debian 8 ppc64 - Power8" is not the Debian "ppc64" architecture, but rather the 32-bit "powerpc" architecture, with a 64-bit kernel. This is not clear from the title or description.

That's also no longer a supported release or architecture, so to use it at all, you have to change the APT sources.

I was able to create a real sid "ppc64" image using [this ISO](https://cdimage.deb

[2019-11-06 16:38] rpsene commented on #20
@lcnzg is this something you could try in the next couple of days?

[2019-11-12 14:14] rpsene commented on #19
@Ronne2019 qual a sua dúvida?

[2019-11-13 03:59] Ronne2019 commented on #19
Boa Noite. Fiz o cadastro a um tempo no minicloud, mais não recebi acesso a
plataforma.

Em ter., 12 de nov. de 2019 às 13:14, Rafael Sene <notifications@github.com>
escreveu:

[2019-11-14 21:09] bencz opened #21 "Fail to create instance on P9"
**Describe the bug**
I created an instance of Ubuntu with the maximum capacity on P9, after creating the instance I can not access it via VNC or Putty, after a while I get the error information in the panel of MiniCloud

**To Reproduce**
Create a instance on P9

**Screenshots**
![image](https://user-images.githubusercontent.com/1174448/68896176-14eb6b80-0712-11ea-906b-e30f4f1c50e7.png)

**Instance

[2019-11-14 21:13] bencz commented on #21
[code]

It's look like a problem with Ubuntu Image

[2019-11-14 21:31] lcnzg commented on #21
@bencz Can you retry, please?

[2019-11-14 21:50] bencz commented on #21
I was able to delete the instance, after deleting I created a new instance using Ubuntu 19.04 and it worked perfectly!

[2019-11-14 21:50] #21 closed

[2019-12-05 20:35] stefanor commented on #20
FWIW, my minicloud account has now expired, so that image is presumably gone.

[2019-12-06 13:55] rpsene commented on #20
@lcnzg could you check if we have the snapshot available? If not, could you allocate someone to learn from @stefanor how to get a new image done?

[2019-12-18 19:48] albertosaa opened #23 "Remote ipython kernel in spyder/jupyter"
The use of remote ipython kernel in spyder or jupyter requires access to some ports that seem to be unavailable to users in the minicould environment. Is there any workaround for this?

[2019-12-18 20:49] lcnzg commented on #23
You can use SSH Port Forwarding (https://blog.trackets.com/2014/05/17/ssh-tunnel-local-and-remote-port-forwarding-explained-with-examples.html).

[code]

Or add the tag `LocalForward LOCAL_PORT localhost:REMOTE_PORT` to your `.ssh/config` file

More information on how to use SSH forwarding with Spyder IDE: https://medium.com/@mazzine.r/how-to-connect-your-spyder-ide-to-an-external-ipython-kernel-w

[2019-12-18 21:07] albertosaa commented on #23
Many thanks, Luciano, for the quick and accurate reply.

 It works!

![image](https://user-images.githubusercontent.com/30988872/71123366-392ee200-21c1-11ea-9455-32bb29b067cc.png)

[2019-12-18 21:07] #23 closed

[2020-01-23 20:28] hugoziviani opened #24 "My loggin is not working."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2020-01-23 20:30] hugoziviani commented on #24
Hello guys, how's it going? Thanks for the service... I would like to know about my loggin.  My user is hugo.zivini and I can't access my account. There is anything I can do? Thanks a lot.

[2020-01-23 20:33] lcnzg commented on #24
You need to request a new account. Due to an OpenStack upgrade, all accounts have been removed.

[2020-01-23 20:34] hugoziviani commented on #24
Good. Thanks, Hugs.

[2020-01-23 20:34] #24 closed

[2020-01-26 21:49] jkivilin opened #25 "No big-endian PPC image available"
**Describe the bug**
There is no longer any big-endian image available in Minicloud. I'd would need to test out endian-correctness and performance delta between both endianness in PPC assembly implementations.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Launch Instance / Source'
2. All current images are little-endian, 'ppc64le'.

**Expected behavior**
It would be nice to have at

[2020-01-26 22:07] lcnzg commented on #25
I just added the following ppc64 images: Fedora 27, Fedora 28 and openSUSE Tumbleweed.

[2020-01-27 16:03] jkivilin commented on #25
Thanks!

[2020-01-27 16:03] #25 closed

[2020-01-31 00:26] kraj opened #26 "power9 machines not booting"
when ppc9 machine is chosen (from Availabablity Zone) it can not boot. Tried ubuntu 19.04/18.04/Debian-9, Fedora-29 seems to boot ok.
<img width="905" alt="Screen Shot 2020-01-30 at 4 24 53 PM" src="https://user-images.githubusercontent.com/465279/73502264-3bb65700-437d-11ea-9111-8cc0d752c3a3.png">

[2020-01-31 12:46] rpsene commented on #26
@sitio-couto could you pair with @lcnzg today and check what is going on?

[2020-01-31 15:59] sitio-couto commented on #26
@kraj, I was unable to reproduce the issue, all Debian derivatives seem to work.
Are you still having this issue? If so, is there any custom configuration you've used when creating the instance?

[2020-01-31 16:18] kraj commented on #26
I just open ssh port and launch the largest instance nothing special.

[2020-01-31 16:50] rpsene commented on #26
@sitio-couto take a look at the placement, maybe one of the P9s is the issue.

[2020-01-31 16:55] kraj commented on #26
I created 4-5 times and same issue all the time. Fedora 29 booted but was very very slow on p9
now I have provisioned a p8 VM and its chugging along ubuntu 19.04 well. I can build yocto
images

[2020-01-31 17:36] sitio-couto commented on #26
Both P9's are scheduling the Debian derivatives, although the load is unbalanced and launch times are a bit high (about 5-8 minutes).
I'm doing more tests to see if I can get an instance stuck during boot.

[2020-01-31 19:40] rpsene commented on #26
@kraj I was able to boot Ubuntu 18.04 and 19.04 on P9.

<img width="572" alt="Screen Shot 2020-01-31 at 16 36 42" src="https://user-images.githubusercontent.com/20800562/73568982-438efd80-4448-11ea-890a-72f2a6628662.png">

[2020-02-01 02:39] kraj commented on #26
@rpsene ok. I have exhausted my compute quota for provisioning my p8 vm, for now, once I have done some build tests I will tear it down and re-install with ubuntu 19.04 on p9, How long should I wait for it to boot ?

[2020-02-01 20:31] kraj commented on #26
OK I launched the instance and let it boot, next day I See the console shows the login prompt.
ssh also works as seen below. But the instance is so slow its quite visible. Perhaps thats another issue ?

[code]

[2020-02-01 21:49] sitio-couto commented on #26
Hey kraj.
You're right, the power 9 machines are quite sluggish.
We're trying to pinpoint where's the problem, and as soon as we find out and fix it we'll let you know.
For now, it might be better to stick with the Power8 availability zone.
Apologies for the inconvenience.

[2020-02-02 00:15] kraj commented on #26
@sitio-couto thanks for confirmation. No issues, I am happy to test it out. Let me know when you have it fixed. I started an update on the p9 VM about 6 hrs ago and it has not finished. Usually it should take less than 5 mins.

[2020-02-05 13:05] sitio-couto commented on #26
Hey @kraj.
We've done updating and testing or the P9 machines. They seem to be running normally now.
Give then a try later and let us know if you have any issues.

[2020-02-05 22:29] kraj commented on #26
I launched a max instance and it boots but I cant ssh into it I see

ssh: connect to host minicloud1 port XXXXX: No route to host

[2020-02-05 22:42] rpsene commented on #26
@kraj did you enable ssh in the security group? ssh <user>@minicloud.parqtec.unicamp.br -p xxxxx

[2020-02-05 22:46] kraj commented on #26
yes. I did, same works ok when I launch ubuntu 19.04 on ppc8 box.

[2020-02-06 12:19] rpsene commented on #26
@kraj I have deployed many VMs on P9 yesterday without any issues. I need to understand the steps you are using and whether or not you as customizing something.

[2020-02-06 16:55] kraj commented on #26
Fact that I launch power8 machine in exact same process kind of validate my approach, I just forcibly chose power9 when trying to get machine type.

[2020-02-07 16:51] sitio-couto commented on #26
Hey @kraj.
Besides adding the SSH rule to the default security group, could you double-check the if the following configurations were correct when creating and accessing the instance:
* Added "minicloud-network" to instance in the "Networks" tab.
* Added "default" security group to instance in the "Security Groups" tab.
* Added your public key in "Key Pair" tab.
* Waited for the VM to boot up comp

[2020-02-07 16:57] kraj commented on #26
@sitio-couto right. I have exact same steps followed. Booting power9 does take a bit longer. But I also tried to delete/add the ssh rule after system was fully booted but to no avail. I launch max instance and choose power9 during building the VM

[2020-02-07 17:12] sitio-couto commented on #26
In this case, do you remember the VM’s IP or have tried to launch another VM with a different IP?

[2020-02-07 17:24] kraj commented on #26
My current. VM IP I remember, but not the old one sorry. Unfortunatley, I have created a max instances spending all my quota, I can tear it down and try again perhaps on weekend and pass the IP

[2020-02-08 16:31] bencz commented on #26
I'm getting the same error on P9 machine...

The log:

And, the system stay on this step....

[2020-03-11 15:25] wtarreau opened #27 "Strange SSH incompatibility in key format ?"
**Describe the bug**
A clear and concise description of what the bug is.

I tried to set up a key pair from one of my keys and failed to get in, with the publickey authentication always being rejected. So I created a new keypair directly in the interface, trashed the machine and created a new one with that keypair (is there any way to test a key without trashing an instance each time?), and it als

[2020-03-11 15:44] wtarreau commented on #27
I finally found an older machine to test from and there it works using the same key:
[code]
Thus I suspect that the problem might be caused by some of the algos recently removed from SSH (probably DSA here), while the minicloud interface doesn't accept the newer ED25519 keys.

So it's likely that the issue will increase over time as SSH clients are upgraded in field.

Since I can access the machin

[2020-03-26 13:21] adalava opened #28 "FreeBSD disk image"
I made an experimental FreeBSD 13 disk image for POWER and uploaded it as a "community" image so my colleagues could also use it and help with test.

The problem is that it's not appearing for my colleagues, even searching for the exact name. The image name is "FreeBSD13-head-r359311".

Also, feel free to make it available to everyone if you wish. If security is a concern, I can send instructions

[2020-03-26 13:31] rpsene commented on #28
@adalava I will upload it and make it public.

[2020-03-26 15:07] adalava commented on #28
@rpsene awesome, thanks!

[2020-03-26 15:11] adalava commented on #28
After reading #25, I would like to note that FreeBSD 13 is a Big Endian image as well. FreeBSD only supports BE currently.

[2020-03-31 18:12] rpsene commented on #28
@jr-santos98 could you handle it? Grab the image, make it public via our OpenStack.

[2020-04-01 01:53] jr-santos98 commented on #28
@adalava @rpsene the following image: "FreeBSD13-head-r359311". It was defined as public at Minicloud.

[2020-04-01 14:14] adalava commented on #28
@jr-santos98 the image visibility didn't change for me, then I deleted it to see if the public one would appear, but it was not the case.
Anyway, please put this on hold a little bit, this one has limited number of free inodes, limiting the number of files that can be written to the filesystem. My patch is under review by FreeBSD team and a new image will be generated soon.

[2020-04-01 17:57] jr-santos98 commented on #28
@adalava Probably to you it might not seem like a publisher, but surely the other people at Minicloud would be able to access it. I am waiting for the next image, and in the next one, try to confirm with other people if it is available.

[2020-04-03 02:03] adalava commented on #28
Hi @jr-santos98. New image is available with name "FreeBSD13-head-r359571"
It's currently set as "Shared". Thanks!

Latest images can also be grabbed from https://artifact.ci.freebsd.org/snapshot/head/latest/powerpc/powerpc64/disk.qcow2.zst

[2020-04-04 18:17] jr-santos98 commented on #28
@adalava the following image: "FreeBSD13-head-r359571". It was defined as public at Minicloud.

[2020-04-06 12:34] adalava commented on #28
Thank you @jr-santos98, I see the image set as public and it's working fine!

I see there's is another public image with the name "FreeBSD 13 ppc64" and ID "53fcc845-c013-4051-b086-46c303295810". This one is pretty old, doesn't work out of the box and can deleted.

[2020-04-06 23:40] jr-santos98 commented on #28
@adalava Thanks for the feedback. When removing the image: "FreeBSD 13 ppc64", I will take the idea to the other team members.

[2020-04-14 10:06] martin-frbg commented on #28
Does this image need any specific hardware provisions (e.g. something bigger than minicloud.small) ? I cannot get it to boot beyond a "HV-RTAS-BOOTUP error -4" in the log while Linux images come on line just fine.

[2020-04-14 19:10] adalava commented on #28
Hi @martin-frbg , I just tested the image on a new minicloud.tiny instance (1vCPU, 1GB of RAM, 20GB of disk) and it worked out of the box, on the "Power8" availability zone.
Are you using it on Power9? I didn't had the chance to try on it yet since my account doesn't have access to it. I'll ask for an upgrade.

[2020-04-14 19:26] martin-frbg commented on #28
No I'm on Power8, currently with a minicloud.small instance (2 vCPU). Just tried a soft reboot but still cannot ssh into it, and the Instance Console Log in the web interface again stops at the HV-RTAS-BOOTUP error.

[2020-04-14 20:10] adalava commented on #28
@martin-frbg, that's strange, I tried minicloud.small as well and it worked. I don't expect SSH to be working right away because on this image you have to configure network and configure sshd to permit root login, but you should see it booting in the console.
@jr-santos98 or @rpsene, could you please check if there are differences in the "minicloud.small" template used by @martin-frbg other than t

[2020-04-14 20:22] martin-frbg commented on #28
Ah, alright - I had originally assumed them to be completely usable but I guess there is no easy way to label them as experimental on the site. I'll just blow it away and retry with a minicloud.tiny instance then (BTW I now see that the HV-RTAS message is the same in the logs of fully working instances, the difference is just that there is no output beyond that.
EDIT : I suddenly do get the VNC co

[2020-04-14 23:22] jr-santos98 commented on #28
@martin-frbg There were two images from FreeBSD. One was already a little old and as was requested in this issue, it was removed. The other, which was just posted, is public and functioning normally. I recommend using "FreeBSD13-head-r359571". Any questions I ask you to return to this issue or consult the documents of Miniclound or FreeBSD.

[2020-04-15 05:32] martin-frbg commented on #28
@jr-santos98 that would explain why the older FreeBSD image was still selectable in the interface but failed to find a vdisk on bootup. Unfortunately the new r359571 image has no networking configured at all and I am not sure I know enough about your setup to do it myself (apart from being a bit rusty on pure BSD file locations and command options)

[2020-04-15 13:28] adalava commented on #28
@martin-frbg I'm glad it booted! The FreeBSD 12.1 release doesn't work on the minicloud. The FreeBSD 13 that is being shared on the minicloud isn't a final release, it's still under active development so this image is meant for development and testing.
If you find any problem, feel free to get in touch (alfredo  _at_  freebsd.org) or contact other FreeBSD developers through maillist and IRC.

I've

[2020-04-15 13:57] adalava commented on #28
@jr-santos98, thank you for providing the image!
I think this issue can be closed now.

[2020-04-15 13:57] #28 closed

[2020-05-01 17:51] doodeck opened #29 "Hostname changing after the first reboot"
**Describe the bug**
Rebooting the machine changes the hostname as shown in the CLI prompt

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM, e. g. from the image "openSUSE Tumbleweed ppc64le". In the creation wizard give it any name, e. g. "swarm-master-tumbleweed"

2. Login, look at the CLI prompt:
[code]
3. after rebooting the hostname is different, but you still can't ping

[2020-05-04 09:42] shawnl opened #30 "Newspeak"
**Describe the bug**
A clear and concise description of what the bug is.

  |   |   |   |   |  
-- | -- | -- | -- | -- | --
 
  |   |  
 
Hello, 													 													Your account has been renewed. We are available for any problems.  													Please use the Report an Issue section, informing the quota size that you need, and we will evaluate your request.   													 													Sinc

[2020-05-04 13:15] rpsene commented on #30
@shawnl could you elaborate more what you are reporting?

[2020-05-04 13:58] rpsene commented on #29
@doodeck try disabling the host management via cloud-init:

[code]

[2020-05-04 14:05] shawnl commented on #30
I am asking for an account.

[2020-05-04 14:07] rpsene commented on #30
@shawnl go to https://openpower.ic.unicamp.br/minicloud/ and select Request Access. Here we only handle issues :)

[2020-05-04 14:22] shawnl commented on #30
As you can see above, I did so, and the answer was that my account was reenabled (it was not), and that I should ask here with the specs I need. You can see why I am confused.

[2020-05-04 14:38] rpsene commented on #30
@shawnl please, ask again for a new account.

[2020-05-11 13:41] martin-frbg commented on #26
Are there any updates on expected POWER9 availability ? It seems one can only choose POWER8 as the availability zone right now, no matter which of the provided images one selects ?

[2020-05-11 13:44] rpsene commented on #26
@martin-frbg not yet, we need to get a dependency fixed given the issues is happening with the KVM version set for the version of OpenStack we have configured. We hope to get the P9s back soon.

[2020-05-11 16:43] kraj commented on #26
my account is disabled so I have no way to validate

[2020-05-17 11:50] doodeck commented on #29
Hi @rpsene

Opensuse thumbleweed distro has no entry "manage_etc_hosts":

[code]

I tried adding the entry twice on different levels in that file:

[code]

but still to no avail...

[2020-05-18 15:49] #30 closed

[2020-06-04 20:30] shawnl commented on #30
I need a permanent account in order to do my work. I had one initially, and now you keep playing with me, including not following the very policies you tell me about.

[2020-06-04 21:25] sitio-couto commented on #30
Hey @shawnl,
I assume this is about the email sent on Friday, May 29th, notifying that your account was about to expire. Is this correct?
If so, please, disregard that email, your account won't be deactivated again.
If not, could you elaborate on what is the issue you're having? As it appears to us, the account is enabled and working normally.

[2020-06-21 03:15] shawnl opened #31 "unable to open ssh port"
**Describe the bug**
Whenever I try to open the ssh port so i can ssh in to my server I get error messages.

**To Reproduce**
Steps to reproduce the behavior:
1. network->networks->ports->[edit ports]
2. add my [ssh] security group to list
3. hit update
4. See error: "failed to ......"

**Expected behavior**
Some way to log into virtual machine

[2020-06-21 10:47] shawnl commented on #31
I figured it out.

[2020-06-21 10:47] #31 closed

[2020-06-24 17:41] MarkEWaite opened #32 "Can't add an ED25519 public key"
## Can't add an ED25519 public key

## Duplication Steps

Steps to reproduce the behavior:

1. Open the key pairs page of a project at https://minicloud.parqtec.unicamp.br/horizon/project/key_pairs
2. Click on the "Import Public key" button
3. Complete the public key information page by adding a public key name, public key type, and ED25519 public key data
4. Click the "Import Public Key" button

[2020-06-24 17:52] sitio-couto commented on #32
Hey, @MarkEWaite.
Unfortunately, the current user interface API used by the Openstack installed in our server does not recognize certain key types, and ED25519 happens to be one of them.
Please, try using an RSA key (`ssh-keygen -t rsa`) and then adding your ED25519 public key directly in the *~/.ssh/authorized_hosts* file of your virtual machine.
This should suffice to dribble the API.
Apologies

[2020-06-24 17:58] MarkEWaite commented on #32
Thanks @sitio-couto .  You're absolutely correct.

I initially didn't realize that the root issue was my use of an ED25519 key.  When I saw in other bug reports that ED25519 keys are not supported, that was the inspiration to try an RSA key.

[2020-06-24 20:14] #32 closed

[2020-06-24 20:15] sitio-couto commented on #27
See issue [#32 ](https://github.com/Unicamp-OpenPower/minicloud/issues/32).

[2020-06-24 20:15] #27 closed

[2020-07-26 17:40] FernandoALima opened #33 "Acesso ao Minicloud"
Estou preenchendo o formulário Doc (https://forms.gle/9Yf2RkG7ES24JURR7) para solicitar o acesso ao Minicloud, mas quando eu submeto, ele informa que eu tenho de informar a justificativa, mesmo já preenchido o campo.
"We are curious, tell us more about your intentions :)"
Meu e-mail: fernandoantonio.lima@gmail.com

[2020-07-26 19:08] jr-santos98 commented on #33
@FernandoALima é preciso que o seu requets tenha umas duas linhas. Então, fala um pouco mais sobre o seu pedido. Será com base na sua resposta, que iremos decidir se liberamos ou não o acesso a Minicloud.

[2020-07-27 03:12] #33 closed

[2020-08-03 18:05] doodeck opened #34 "Certificate of the https://minicloud.parqtec.unicamp.br/ page was revoked"
**Describe the bug**

You are not able to reach the login page https://minicloud.parqtec.unicamp.br/. The message is similar to this:

This website’s security certificate has been revoked, so you can’t go there at this time.
Error Code: ERROR_INTERNET_SEC_CERT_REVOKED

**To Reproduce**
Open the web page https://minicloud.parqtec.unicamp.br/ in your favourite web browser.

**Expected behavior**
Acc

[2020-08-04 14:28] jr-santos98 commented on #34
Hello @doodeck ,
Try to open the site through the anonymous tab. If the error is resolved, clear your browser's cookies and caches.
If it doesn't, try using other browsers like Mozilla Firefox.

[2020-08-04 20:34] doodeck commented on #34
Firefox works, thanks.

[2020-08-04 20:34] #34 closed

[2020-11-23 17:00] dsysko opened #35 "server certificate revoked"
**Describe the bug**
After my access was granted, I received a login link in my email.
When clicking on it I got a certificate security error from my browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Login button from email](https://minicloud.parqtec.unicamp.br/horizon/)'
2. See error:

**Expected behavior**
A login screen to input my temporary credentials

**Additional contex

[2020-11-23 18:35] rpsene commented on #35
@dsysko it is working properly now.

[2020-11-25 00:08] #35 closed

[2021-02-23 12:48] ALutz273 commented on #18
[fedora@xxxxx~]$ ppc64_cpu --smt
Machine is not SMT capable

[2021-02-23 13:22] AEI-SteffenG commented on #18
Does this command exist in Debian? (Which package?)

In any case, this response comes too late since I long lost access to the test machine, and I should have closed the ticket months ago...

[2021-02-23 13:22] #18 closed

[2021-02-23 15:19] ALutz273 commented on #18
on debian is the package **powerpc-ibm-utils-1.3.7-1**

[2021-08-23 17:21] ravanelli opened #36 "Firmware outdate"
It is not actually a bug. However, I couldn't find other place to request it.

The Power 8 server I'm using (IP: 10.8.41.53), looks to have an outdate firmware, each is missing some patch to allow qemu/libguest to run.

I'm getting:
qemu-system-ppc64: Requested count cache flush assist capability level not supported by KVM
According to https://bugzilla.redhat.com/show_bug.cgi?id=1768551, it could

[2021-08-25 20:28] jr-santos98 commented on #36
In addition to github, you can contact us through the channel [gitter](https://gitter.im/Unicamp-OpenPower/Lobby) or email: openpower@ic.unicamp.br

We're already underway with a full minicloud update.

[2021-08-25 21:19] ravanelli commented on #36
@jr-santos98 Thanks for the info ;)
This firmware update is blocking us to work with Power, would be possible to get that update? Since it is more related to HW stuff. I can help in the process if you have questions in how to do it.

[2021-08-30 13:02] jr-santos98 commented on #36
@ravanelli We will check for firmware update availability on Friday, September 3rd. That way, as soon as we carry out this operation, I will inform you of the result.

[2021-08-30 21:10] ravanelli commented on #36
@jr-santos98 Thanks for the update! I appreciate your help.

[2021-09-03 21:51] jr-santos98 commented on #36
Hello @ravanelli ,
We found that the machines are some outdated Firmware versions. The update will take place over the next week. I'll let you know as soon as we perform the update.

[2021-09-24 16:10] mingodad opened #37 "Best way to sporadic use of a VM"
I just got access to the Minicloud and created a small Ubuntu 18.04 vm for test compiling some opensource software and probably will need it again from time to time.
What is the best way to use this vm in the future but meanwhile have it turned off:
- Pause Instance ?
- Suspend Instance ?
- Shelve Instance ?
**I mean I do not want to consume resources while I'm not using it** and in doing so more

[2021-10-02 01:06] jr-santos98 commented on #36
Hello @ravanelli ,
Sorry for the delay to answer.
The firmware of the servers were updated, all of them already have the latest version.

[2021-10-02 01:11] jr-santos98 commented on #37
@mingodad shut off instance It is enough.
Another option is to create a snapchot and delete the VM. And when you need it again, just create a new VM through Snapchot, not image.

[2021-10-04 14:41] ravanelli commented on #36
Hi @jr-santos98 Thanks for updating it.

[2021-11-08 19:14] inconstante opened #38 "Web interface down?"
I tried from several places and with differente browsers, but couldn't access https://minicloud.parqtec.unicamp.br/horizon.

Is it down?

[2021-11-08 20:32] jr-santos98 commented on #38
@inconstante Thanks for the report, apparently the service is down.
We are checking the situation.

[2021-11-11 13:52] inconstante commented on #38
Thanks, it's working again! :)

[2021-11-11 13:52] #38 closed

[2022-04-01 08:02] carenas opened #39 "console access not working"
**Describe the bug**
After launching several different machines in different OS and types, hadn't been able to access their console (which for the freebsd one is a blocker, as it doesn't have network/ssh access AFAIK)

**To Reproduce**
Steps to reproduce the behavior:
1. Launch an instance and wait for it to be deployed and running
2. Click on its name and select log to confirm the system has init

[2022-04-01 23:42] carenas commented on #39
alternatively (at least for using the FreeBSD image), a new one that configures the network and it is otherwise setup by cloud_init like the others could be provided, but that would require that uploading images be enabled (at least for my account) so I can help with that.

[2022-04-02 00:10] jr-santos98 commented on #39
@carenas thanks for report.
We are updating our network, so some features are being blocked accidentally.
Console access has been unlocked.

[2022-04-02 00:43] carenas commented on #39
thanks for working on it so late into the weekend

[2022-04-02 00:43] #39 closed

[2022-04-04 10:45] carenas commented on #39
@jr-santos98: FWIW the instance (now shutdown) in :

  https://minicloud.parqtec.unicamp.br/horizon/project/instances/057f2047-4c3f-41ff-bb19-4cc4126161cc/

is upgraded to FreeBSD 13.1RC1 and configured to be cloud ready (including setting the freebsd user with the right key and resizing the root disk), so if an image could be made out of that the lack of a console wouldn't block any other FreeBSD

[2022-04-04 20:56] jr-santos98 commented on #39
@carenas I'm creating a FreeBSD image.
When i create it, I'll let you know here.

[2022-04-05 17:28] jr-santos98 commented on #39
@carenas I'm not getting to create a snapshot and not even unlock the instance.
Can you unlock the instance and create a snapshot ??
If you can, send me the name of snapshot.

[2022-04-06 02:40] carenas commented on #39
@jr-santos98: sorry for the delay; it also has git installed, but should be otherwise as close as a base image as possible.

Name
FreeBSD-13.1RC1
ID
44958b3c-72f7-48a7-ab2d-af8ec8f16834

[2022-04-06 04:30] carenas commented on #39
in case a smaller image without git would work better :

Name: fbsdbase
ID: 4060ff90-d166-4ee4-a166-dcf96d3b7dec

and that corresponds to the instance 14a96b51-30da-4e65-9e85-573c3bab3c99, which I will keep shutdown and should be ready to be configured by cloud-init and to expand its root fs in the next boot.

[2022-06-20 20:48] adalava opened #40 "Timeout on OpenStack port"
I'm trying to deploy a VM using OpenStack API but the endpoint isn't connecting (http://minicloud.parqtec.unicamp.br:5000/v3/), it seems like port 5000 isn't accepting connections. I tried the other ports and they aren't connecting as well:

Here's where I found the URLs: https://minicloud.parqtec.unicamp.br/horizon/project/api_access/  (need to be logged in)

Thanks!

[2022-06-24 18:23] jr-santos98 commented on #40
@adalava Access to this port is closed and restricted.
You need this feature to do what kind of operation?
By default, only VM access via ssh and OpenStack console is allowed.

So your report would not be a bug or error.

[2022-06-24 21:18] adalava commented on #40
Hi @jr-santos98, I'm using my account to validate deploy and execution of short-lived VMs to execute build and regression tests on POWER machines for the FreeBSD and QEMU projects. The disk image and the VM will be created and deployed by the CI/CD infrastructure of those projects using the OpenStack APIs. The API endpoints used to work in the past but I don't use them for a long time.
Please doub

[2022-06-30 08:54] gregorkistler commented on #26
@rpsene do you have any news about POWER9 availability? :)
As Ubuntu 22.04 only runs on POWER9+ I'm curious how your roadmap currently looks like.

[2022-07-02 15:53] jr-santos98 commented on #26
@gregorkistler We've already started working on the Micloud update. In about the next two months, we're supposed to have Power9 back on MInicloud.

[2022-07-02 15:55] jr-santos98 commented on #40
@adalava He will be back from vacation next week, I will discuss this matter with him.

[2022-07-02 16:48] gregorkistler commented on #26
Great news, thank you :)

[2022-07-19 17:03] JoelLinn opened #41 "Minicloud VMs unresponsive"
Can't access any VM via SSH, can't restart via web interface (stuch on rebooting... there for days)

[2022-07-20 22:12] JoelLinn commented on #41
Thanks for looking into it

[2022-07-20 22:12] #41 closed

[2022-07-29 15:00] adalava commented on #40
It's fixed, I can access the API endpoints now. Thank you!

[2022-07-29 15:00] #40 closed

[2022-08-24 17:13] mronstro opened #42 "Out of resource for building RonDB"
I managed to compile RonDB setting WITH_UNIT_TESTS=0.
WITH_UNIT_TESTS=1 failed, most likely due to lack of system resources.

So would be great if quota could be raised a bit from a max of 10 GB of memory
to at least 16 GB and preferrably 32GB.

Other than that it seems to work fine, tests are passing, disk subsystem seems slow
on the machine, but that is ok for testing.